/*
	Theme - Task Manager
	Version - 1.0
	Author - Tanushree More
*/

*{
                                      /* * means "all elements" (a universal selector)	*/
	margin:"0";
	padding: 0;
	font-family: verdana;
}

.wrapper{
	border: 10px solid #c44569;
	width: 70%;
	margin: 0 auto;
	padding: 2%;
}

h1{
	color: #82589F;
	margin-bottom: 2%;
}

h3{
	margin: 2% 0;
	color: indianred;
	text-decoration: underline;
}

.menu{
	margin-bottom: 3%;
}

.menu a{
	font-weight: bold;
	margin-right: 2%;
	color: #182C61;
	text-decoration: none;
}

.menu a:hover{
	text-decoration: underline;
	color: #1B9CFC;
}

.btn-primary{
	background-color: #ffdd59;
	color: #05c46b;
	font-weight: bold;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
}

.btn-primary:hover{
	background-color: #f53b57;
}

.btn-secondary{
	background-color: #81ecec;
	color: #d63031;
	font-weight: bold;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;	
}

.btn-secondary:hover{
	background-color: #ffeaa7;
}

.btn-lg{
	width: 50%;
}

.tbl-full{
	width: 100%;
}

.tbl-half{
	width: 50%;
}

table tr th{
	text-align: left;
	border-bottom: 1px solid black;
	padding: 1%;
	padding-top: 3%;
}

table tr td{
	padding: 1%;
}


